@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

body {
    margin : auto;
    font-family: 'Pretendard-Regular' , sans-serif;
}

:root {
    --main--color : ;
    --sub--color: #29363D;
    --nav--color: #2E2525;

}

.sr-only {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

.btn-top {
    position: fixed;
    right : 280px;
    bottom : 138.42px;
}
.header {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap : 191.73px
}

.header .logo {
    width: 116.76px;
    height: 34px;    
}

.header .logo img {
    width : 100%;
    height: 100%;
}

.gnb-nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.gnb-nav ul {
    display: flex;
    list-style: none;
    padding : 25px 0px;
    gap : 81px;
    color : var(--nav--color);
}

.gnb-nav-item:link {
    color : var(--nav--color);
}

.gnb-nav-item:visited {
    color : var(--nav--color);
}

.btn-group {
    margin-left : 111.4px;
}

.btn-group a {
    padding : 6px 14px;
    background: #EEEEEE;
    border-radius: 20px;
}

.btn-login {
    color : #2E6FF2;
    font-family: 'Pretendard-Bold' ,sans-serif;
}

.btn-join {
    color : var(--sub--color)
}
form {
    display: flex;
    justify-content: center;
}

.search-box {
    position: relative;
    width: 600px;
    height: 56px;
}
.search-box input {
    width: 100%;
    border-radius: 40px;
    border : 4px #EEEEEE solid;
    padding : 18px 0px 18px 32px;
}

.search-box input::placeholder {
    color: #5A6A72;
}

.search-box button {
    position: absolute;
    width: 32px;
    height: 32px;
    padding : 0;
    border : none;
    background-color: transparent;
    top :12px;
    right : 24px;
}

.search-box button img {
    width : 100%;
    height: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.main-poster {
    flex-basis : 1224px;
    margin-top: 39px;
}

.main-poster div{
    position: relative;
    width: 100%;
    height: 0px;
    padding-top: 40.8%;
}
.main-poster div img {
    position: absolute;
    width: 100%;
    top : 0px;
    left : 0px;
}